
<table class="cal">
  <thead>
  <tr><th scope="col" title="<%= l(:label_week) %>" class="week-number"></th><% 7.times do |i| %><th scope="col"><%= day_name( (calendar.first_wday+i)%7 ) %></th><% end %></tr>
  </thead>
  <tbody>
  <tr>
    <% day = calendar.startdt
       while day <= calendar.enddt %>
        <%= ("<td class='week-number' title='#{ l(:label_week) }'>#{(day+(11-day.cwday)%7).cweek}</td>".html_safe) if day.cwday == calendar.first_wday %>
        <td class="<%= day.month==calendar.month ? 'even' : 'odd' %><%= ' today' if Date.today == day %> calendar_day">
          <p class="day-num"><%= day.day %></p>
          <% @events.select{|meeting|
            meeting.can_show?(day)
          }.sort_by{|a| a.start_time}.each do |i| %>
              <div class="issue tooltip" >
                <%= image_tag('group.png') %>
                <%= h("#{i.project} -") unless @project && @project == i.project %>
                <%= link_to i.subject, "#{i.id}"%>
                <span class="tip">
                  <%= link_to( i.subject, "#{i.id}" )+ "<br /><br />".html_safe +
                          "<strong>#{l(:field_date)}</strong>: #{format_date(i.date)}- #{i.start_time}<br />".html_safe +
                          "<strong>#{l(:field_end_date)}</strong>: #{format_date(i.end_date)}- #{ i.end_time}<br />".html_safe +
                          "<strong>#{l(:field_location)}</strong>: #{i.location_online}<br />".html_safe
                  %>
                      </span>
              </div>
          <% end %>
        </td>
        <%= '</tr><tr>'.html_safe if day.cwday==calendar.last_wday and day!=calendar.enddt %>
    <% day = day + 1
       end %>
  </tr>
  </tbody>
</table>
